---
import PageLayout from "@layouts/PageLayout.astro";

const title = "Test - PageLayout #1";
const heading = "PageLayout Test #1";
const active = "page1";
const otherHref = import.meta.env.BASE_URL + "/tests/PageLayoutTest2";

const pages = [
    { name: "Page1", route: "/tests/PageLayoutTest1" },
    { name: "Page2", route: "/tests/PageLayoutTest2" },
];
---

<PageLayout title={title} heading={heading} active={active} pages={pages}>
    <p>Some content here...</p>
    <p><a href={otherHref}>Go to page #2</a></p>
</PageLayout>
