---
import { Image } from 'astro:assets';

import Badge from '@components/Badge.astro';

import { findPngPath } from '@scripts/utils.js';

const { title, difficulty, route, href } = Astro.props;

const src_ = findPngPath(`${route}screenshot.png`);
const href_ = href || (import.meta.env.BASE_URL + route);
---

<div class:list={["card", "grid-item", difficulty]}>
    <a href={href_}><Image src={src_} class="card-img-top" alt={route}></a>
    <h5 class="card-body">{title}
        <Badge difficulty={difficulty} />
    </h5>
</div>

<style>
    .card {
        width: 20em; 
        margin: 0 1em 1em 0;
    }
    .card:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }
</style>
